<template name="resa">
    <ul class="list-group">
        {{#each trajets}}
            {{>myTrajects}}
        {{/each}}
    </ul>
</template>

<template name="myTrajects">
    <li class="list-group-item">
        <h1>{{depart}} -> {{arrivee}} <small>par {{getUser user_id}}</small></h1>
        <dl class="dl-horizontal">
            <dt>Date du voyage : </dt>
            <dd>{{date}}</dd>
            <dt>Heure de départ : </dt>
            <dd>{{heure}}h</dd>
            <dt>Nombre de place libre : </dt>
            <dd>{{nombre_places}}</dd>
            <dt>Prix du Voyage : </dt>
            <dd>{{prix}} €</dd>
        </dl>
        <button class="btn btn-danger cancel">Annuler le voyage</button>
    </li>
</template>